body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1c8f1;
}

header {
    background-color: #f1c8f1;
    color: #000000;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu li a:hover {
    background-color: #696969a4;
}

.section {
    padding: 50px 20px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
